           <app-sidebar-admin></app-sidebar-admin>

           <!-- Students Section -->
            <div *ngIf="currentSection === 'students'" class="mt-6" id="main">
                <h2 class="text-xl font-semibold mb-4">Liste des Étudiants</h2>
                <table class="min-w-full bg-white">
                  <thead class="bg-gray-200">
                    <tr>
                      <th class="p-2">Nom</th>
                      <th class="p-2">Filière</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let student of students">
                      <td class="p-2">{{ student.name }}</td>
                      <td class="p-2">{{ student.major }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>