<div class="page upload-page"> <section class="form-and-result-wrapper">
  <div class="form-title-container">
    <h1 class="form-title">📥 Importer une épreuve existante</h1> </div>

  <div class="form-content-scrollable">
      <p class="form-subtitle">
        Uploader votre fichier PDF contenant l'épreuve et la grille de correction que vous souhaitez importer.
      </p>

      <form class="form-grid">
        <div class="field file-field full-width">
          <label for="cours">📎 Document contenant l'épreuve et la grille (PDF)</label>

          <div class="file-input-display">
              <input id="cours" type="file" accept=".pdf" class="hidden-input" />
              <label for="cours" class="custom-file-upload">
                  Choisir un fichier
              </label>
               <span class="file-name">Aucun fichier choisi</span>
          </div>
        </div>
      </form>

      <button class="generate-btn save-upload-btn" [disabled]="true"> 💾 Enregistrer l’épreuve et la grille
      </button>

      <div class="loader-container" [hidden]="true"> 
        <div class="spinner">
          <div class="double-bounce1"></div>
          <div class="double-bounce2"></div>
        </div>
        <p>⏳ Enregistrement en cours... Patientez un moment.</p>
      </div>

       </div>
</section>
</div>
