<!--=============== SIDEBAR ===============-->
<nav class="sidebar" id="sidebar">
    <div class="sidebar__container">
       <div class="sidebar__user">
          <div class="sidebar__img">
             <img src="assets/img/academia.png" alt="image">
          </div>
  
          <div class="sidebar__info">
             <h3>Coordinateur</h3>
             <span></span>
          </div>
       </div>
  
       <div class="sidebar__content">
          <div>
             <h3 class="sidebar__title">MANAGE</h3>
  
             <div class="sidebar__list">
                <a  class="sidebar__link active-link">
                   <i class="ri-pie-chart-2-fill"></i>
                   <span>Dashboard</span>
                </a>
  
                <a class="sidebar__link" (click)="tracking()">
                   <i class="ri-wallet-3-fill"></i>
                   <span>Tracking</span>
                </a>

             </div>
          </div>
  
          <div>
             <h3 class="sidebar__title">SETTINGS</h3>
  
             <div class="sidebar__list">
                <a href="#" class="sidebar__link">
                   <i class="ri-settings-3-fill"></i>
                   <span>Parametres</span>
                </a>
  
                <a href="#" class="sidebar__link">
                   <i class="ri-mail-unread-fill"></i>
                   <span>Boite de reception</span>
                </a>
  
                <a href="#" class="sidebar__link">
                   <i class="ri-notification-2-fill"></i>
                   <span>Notifications</span>
                </a>
             </div>
          </div>
       </div>
  
       <div class="sidebar__actions">
          <button>
             <i class="ri-moon-clear-fill sidebar__link sidebar__theme" id="theme-button">
                <span>Theme</span>
             </i>
          </button>
  
          <button  (click)="logout()" class="sidebar__link">
             <i class="ri-logout-box-r-fill"></i>
             <span>Se déconnecter</span>
          </button>
       </div>
    </div>
  </nav>
  
  