<app-header></app-header>
<app-dashboard-exam-service></app-dashboard-exam-service>

<main class="max-w-7xl mx-auto space-y-10" id="main">
  <h1 class="text-3xl font-bold mb-8 text-center">Dashboard des Résultats Étudiants</h1>

  <section class="">
    <h2 class="text-2xl font-semibold mb-6 dark:text-white">Statistiques sur les résultats des étudiants</h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
      <div class="bg-indigo-600 rounded-lg p-6 text-white flex flex-col items-center">
        <p class="uppercase text-sm font-semibold mb-2">Taux de réussite global</p>
        <p class="text-4xl font-extrabold">{{ successRate }}%</p>
      </div>
      <div class="bg-green-600 rounded-lg p-6 text-white flex flex-col items-center">
        <p class="uppercase text-sm font-semibold mb-2">Moyenne générale</p>
        <p class="text-4xl font-extrabold">{{ averageScore }}</p>
      </div>
      <div class="bg-yellow-500 rounded-lg p-6 text-white flex flex-col items-center">
        <p class="uppercase text-sm font-semibold mb-2">Étudiants ayant validé</p>
        <p class="text-4xl font-extrabold">{{ studentsPassed }}</p>
      </div>
    </div>
  </section>

  <section class="">
    <h2 class="text-2xl font-semibold mb-6 dark:text-white">Rapports d'évaluation par session d'examen</h2>
    <canvas id="examSessionsChart" class="w-full max-w-4xl mx-auto"></canvas>
  </section>
</main>

<canvas id="myChart"></canvas>